
{"default0", 
	{allow, 
	[
		{bucket, <<"test">>}
	]},

	{block, []}
}.

{"default1", 
	{allow, 
	[
		{bucket, all},
		{metadata, {all, all}}
	]},

	{block, []}
}.


{"remote1", 
	{allow, 
	[
		{bucket, <<"bucket">>}
	]},

	{block, 
	[
		{metadata, {filter, true}}
	]}
}.


{"remote2", 
	{allow, 
	[
		[{bucket, all}, {not_metadata, {filter, true}}],
		{metadata, {filter, false}}
	]},

	{block, []}
}.