
{"default0", 
	{allow, 
	[
		['*']
	]},

	{block, 
	[
		[]
	]}
}.

{"default1", 
	{allow, 
	[
		[{bucket, all}],
		[{metadata, {all, all}}]
	]},

	{block, 
	[
		[]
	]}
}.


{"remote1", 
	{allow, 
	[
		[{bucket, <<"bucket">>}]
	]},

	{block, 
	[
		[{metadata, {filter, true}}]
	]}
}.


{"remote2", 
	{allow, 
	[
		[{bucket, all}, {not_metadata, {filter, true}}]
	]},

	{block, 
	[

	]}
}.